In [1]:
import pandas as pd
import numpy as np

/mnt/c/Users/atyag/Documents/boxPlotApp/env/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
data = pd.read_csv('dataset/systems_data.csv')

In [3]:
data.head()

,Workload,FileSystem,BlockSize,InodeSize,BlockGroup,AtimeOption,JournalOption,SpecialOption,IOScheduler,Device,Throughput
0,Data,ext2,1024,none,none,none,none,none,noop,sas,37567.00
1,Data,ext2,1024,none,none,none,none,none,noop,500sas,37407.33
2,Data,ext2,1024,none,none,none,none,none,noop,ssd,38352.00
3,Data,ext2,1024,none,none,none,none,none,noop,sata,38100.33
4,Data,ext2,1024,none,none,none,none,none,cfq,sas,40092.00

In [10]:
temp = data[data.Throughput < 500]

In [15]:
temp.sort_values(by='Throughput').set_index('Workload').to_csv('dataset/lowest_throughput.csv')