In [1]:
import pandas as pd
import numpy as np

/mnt/c/Users/atyag/Documents/boxPlotApp/env/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
data1 = pd.read_csv('dbserver_short.csv')

In [3]:
data2 = pd.read_csv('fileserver_short.csv')
data3 = pd.read_csv('mailserver_short.csv')
data4 = pd.read_csv('webserver_short.csv')

In [4]:
data1['Workload'] = 'Data';

In [5]:
data2['Workload'] = 'File';
data3['Workload'] = 'Mail';
data4['Workload'] = 'Web';

In [6]:
data_new = data1.append(data2)
data_new = data_new.append(data3)
data_new = data_new.append(data4)

In [7]:
data_new.head()

,File System,Block Size,Inode Size,Block Group,Atime Option,Journal Option,Special Option,I/O Scheduler,Device,Throughput,Workload
0,ext2,1024,none,none,none,none,none,noop,sas,37567.00,Data
1,ext2,1024,none,none,none,none,none,noop,500sas,37407.33,Data
2,ext2,1024,none,none,none,none,none,noop,ssd,38352.00,Data
3,ext2,1024,none,none,none,none,none,noop,sata,38100.33,Data
4,ext2,1024,none,none,none,none,none,cfq,sas,40092.00,Data

In [8]:
data_new.tail()

,File System,Block Size,Inode Size,Block Group,Atime Option,Journal Option,Special Option,I/O Scheduler,Device,Throughput,Workload
24883,reiserfs,4096,none,none,noatime,writeback,notail,cfq,sata,15435.67,Web
24884,reiserfs,4096,none,none,noatime,writeback,notail,deadline,sas,15268.67,Web
24885,reiserfs,4096,none,none,noatime,writeback,notail,deadline,500sas,15524.33,Web
24886,reiserfs,4096,none,none,noatime,writeback,notail,deadline,ssd,15487.33,Web
24887,reiserfs,4096,none,none,noatime,writeback,notail,deadline,sata,15387.67,Web

In [9]:
data_new.to_csv('systems_data.csv')